*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins",sans-serif;
}

.navbar{
    width:100%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins",sans-serif;
}

.navbar{
    width:100%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:100%;
}

.links{
    display:flex;
    gap:35px;
    list-style:none;
}

.links a{
    text-decoration:none;
    color:#111827;
    font-weight:500;
}

.links a:hover{
    color:#1218bf;
}

.btn{
    background:#1218bf;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}
.btn:hover{
    background:#1218bf;
}

.hero{

    height:90vh;
    background-image:
    linear-gradient(rgba(12,18,35,.75),rgba(12,18,35,.75)),
    url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    width:700px;
    text-align:center;
}

.hero-logo{
    width:75px;
    margin-bottom:20px;
}

.hero h1{
    color:white;
    font-size:72px;
    margin-bottom:20px;
}

.hero em{
    color:#1218bf;
}

.hero p{
    color:#ddd;
    line-height:30px;
    margin-bottom:35px;
}
.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:100%;
}

.links{
    display:flex;
    gap:35px;
    list-style:none;
}

.links a{
    text-decoration:none;
    color:#1f24b2;
    font-weight:500;
}

.links a:hover{
    color:#4328d8;
}

.btn{
    background:#1f24b2;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}
.btn:hover{
    background:#4328d8;
}

.hero{

    height:90vh;
    background-image:
    linear-gradient(rgba(12,18,35,.75),rgba(12,18,35,.75)),
    url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    width:700px;
    text-align:center;
}

.hero-logo{
    width:75px;
    margin-bottom:20px;
}

.hero h1{
    color:white;
    font-size:72px;
    margin-bottom:20px;
}

.hero em{
    color:#d8d8de;
}

.hero p{
    color:#ddd;
    line-height:30px;
    margin-bottom:35px;
}

/* Speakers */

.speakers{
    width:90%;
    max-width:1200px;
    margin:90px auto;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#111827;
    margin-bottom:15px;
}

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.speaker-card{

    background:#fff;
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;

}

.speaker-card img{
    width:100%;
    height:320px;
    object-fit:cover;

}

.tag{
    display:inline-block;
    margin:20px;
    padding:8px 18px;
    background:#ede9fe;
    color:#13144e;
    border-radius:30px;
    font-size:14px;
    font-weight:600;

}

.speaker-card h3{

    margin:0 20px 10px;
    font-size:24px;

}

.speaker-card p{
    margin:0 20px 25px;
    color:#6b7280;
    font-size:16px;

}


/* Pricing*/

.pricing{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}

.pricing-heading{
    text-align: center;
    margin-bottom: 60px;
}

.pricing-heading h2{
    font-size: 48px;
    color: #0F172A;
    margin-bottom: 10px;
    font-weight: 700;
}

.pricing-heading p{
    color: #64748B;
    font-size: 15px;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.pricing-card{
    background: #ffffff;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    padding: 25px;

}

.pricing-card h5{

    color: #94A3B8;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.pricing-card h1{
    font-size: 50px;
    color: #0F172A;

}

.pricing-card span{
    display: block;
    color: #94A3B8;
    font-size: 13px;
    margin: 5px 0 20px;

}

.pricing-card hr{
    border: none;
    border-top: 1px solid #E2E8F0;
    margin-bottom: 20px;

}
.pricing-card ul{

    list-style: none;
    margin-bottom: 30px;

}

.pricing-card ul li{

    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
    color: #475569;
    font-size: 14px;
    line-height: 24px;

}

.pricing-card ul li::before{
    content: "";
    width: 6px;
    height: 6px;
    background: #2563EB;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 9px;

}

.outline-btn{

    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;

}

.primary-btn{
    width: 100%;
    padding: 12px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;

}


.pro-card{

    background: #0F172A;
    transform: scale(1.03);

}

.pro-card h5,
.pro-card h1,
.pro-card span{

    color: white;

}

.pro-card hr{
    border-top: 1px solid rgba(255,255,255,.15);

}

.pro-card ul li{
    color: #CBD5E1;

}

.pro-card ul li::before{
    background: #3B82F6;

}

/* Hackathon Section */

.hackathon{
    padding:100px 0;
    background:linear-gradient(135deg,#0F172A,#1E293B);
}

.hackathon-header{
    width:700px;
    max-width:90%;
    margin:0 auto 70px;
    text-align:center;
}

.hackathon-tag{
    display:inline-block;
    background:#103687;
    color:#fff;
    padding:8px 18px;
    border-radius:30px;
    font-size:13px;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom:20px;
}

.hackathon-header h2{
    font-size:48px;
    color:#fff;
    margin-bottom:20px;
    font-weight:700;
}

.hackathon-header p{
    color:#CBD5E1;
    font-size:17px;
    line-height:30px;
}

.hackathon-grid{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.hackathon-card{
    background:#fff;
    padding:35px;
    border-radius:18px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.hackathon-card:hover{
    transform:translateY(-10px);
}

.card-icon{
    width:70px;
    height:70px;
    margin:0 auto 25px;
    background:#101f74;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.hackathon-card h3{
    color:#0F172A;
    font-size:24px;
    margin-bottom:15px;
}

.hackathon-card p{
    color:#64748B;
    font-size:15px;
    line-height:28px;
}

.hackathon-info{
    width:90%;
    max-width:1200px;
    margin:70px auto 0;
    background:#1644a8;
    border-radius:16px;
    padding:30px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.info-text h3{
    color:#fff;
    font-size:28px;
    margin-bottom:10px;
}

.info-text p{
    color:#E2E8F0;
}

.hackathon-btn{

    background:#fff;
    color:#2563EB;
    border:none;
    padding:15px 32px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;

}

.hackathon-btn:hover{
    background:#F8FAFC;

}


@media (max-width:900px){
    .hackathon-grid{
        grid-template-columns:1fr;
    }

    .hackathon-info{
        flex-direction:column;
        gap:20px;
        text-align:center;

    }

}

/* Footer */

footer{

    background:#0F172A;
    padding:50px 0 25px;
    margin-top:10px;

}

.footer-container{

    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.footer-logo{

    display:flex;
    align-items:center;
    gap:12px;

}

.footer-logo h3{
    color:#ffffff;
    font-size:24px;
    font-weight:700;
}

.footer-social{
    display:flex;
    gap:18px;

}

.footer-social a{
    width:42px;
    height:42px;
    background:#1E293B;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:.3s;

}

.footer-social a:hover{

    background:#2563EB;

}

footer hr{

    width:90%;
    max-width:1200px;
    margin:35px auto 20px;
    border:none;
    border-top:1px solid #334155;

}

.copyright{
    text-align:center;
    color:#94A3B8;
    font-size:15px;

}
